@model int

<td class="align-items-md-center">
     <form method="post" asp-action="Order">
    <div class="btn-group" role="group">
        <label>Quantity</label>
        <input  type="number"  min="1" step="1" class="btn btn-primary"  name="Quantity" />
        &nbsp;
       
        input[type=checkbox] {
    transform: scale(1);
}
            <input type="checkbox" asp-route-id="@Model" class="btn btn-success"  />
             &nbsp;Add To Cart
            </button>
        </form>
    </div>
</td>