
@model EFTask.Models.ViewModel.ItemUnitVM;
@using EFTask.Extentions;
<br />
<h1> Add Item</h1>
<form method="post" action="Create">
    <input hidden asp-for="Item.ItemId" />
    <div class=" row">
    <div class=" col-12">
        <div class="col-2">
            <label asp-for="Item.Name"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="Item.Name" class="form-control" />
            <span asp-validation-for="Item.Name" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="Item.Description"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="Item.Description" class="form-control" />
            <span asp-validation-for="Item.Description" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="Item.Price"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="Item.Price" class="form-control" />
            <span asp-validation-for="Item.Price" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="Item.Imgurl"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="Item.Imgurl" class="form-control" />
            <span asp-validation-for="Item.Imgurl" class="text-danger"></span>
        </div>
 
        
               @for (int i = 0; i < Model.Unit.Count(); i++)
        {
            <div class="col-2">
                <label>@Model.Unit[i].Text</label>
            </div>
            <div class="col-4">
                <Input type="checkbox" asp-for="@Model.Unit[i].Selected" class="form-control" />
            </div>
            <Input hidden asp-for="@Model.Unit[i].Value" class="form-control" />
        }
    
        <div class="col-4">
        <div class="form-group mt-4">
            <input type="submit" class="btn btn-primary" @* asp-for="Item.Name"*@ value="Create" />
            <a asp-action="Index" class="btn btn-danger">Back</a>
        </div>
        </div>
</div>
</div>
</form>